site_name: Time Reference NMEA
site_url: https://fmoreau78470.github.io/Time-reference-NMEA/
repo_url: https://github.com/fmoreau78470/Time-reference-NMEA
edit_uri: edit/main/docs/

theme:
  name: material
  language: fr
  palette: 
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Passer au mode sombre
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Passer au mode clair
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

plugins:
  - search
  - with-pdf:
      author: Francis Moreau
      title: Manuel d'utilisation de Time Reference NMEA
      copyright: "© 2026 Time Reference NMEA"
      output_path: pdf/manuel-utilisateur.pdf

nav:
  - Accueil: index.md
  - Théorie NTP: theorie.md
  - Guide Matériel: materiel.md
  - Manuel Logiciel: logiciel.md
  - FAQ & Dépannage: faq.md